// ## Colors

// ### Primary
$cl-Moderateviolet: hsl(263, 55%, 52%);
$cl-Verydarkgrayishblue: hsl(217, 19%, 35%);
$cl-Verydarkblackishblue: hsl(219, 29%, 14%);
$cl-White: hsl(0, 0%, 100%);

// ### Neutral
$cl-Lightgray: hsl(0, 0%, 81%);
$cl-Lightgrayishblue: hsl(210, 46%, 95%);

// other variables
$radius-1: 5px;
$radius-2: 10px;
$radius-3: 25px;
$radius-4: 75px;
$transition: all 250ms linear;
